extends layout

block content
  .container
    .row(data-masonry='{"percentPosition": true }')
      .col-sm-6.col-lg-4.mb-4
        img(src='/img/fish-solid.svg')
      .col-sm-6.col-lg-4.mb-4
        img(src='/img/dog-solid.svg')
      .col-sm-6.col-lg-4.mb-4
        img(src='/img/cat-solid.svg')
      .col-sm-6.col-lg-4.mb-4
        img(src='/img/fish-solid.svg')
      .col-sm-6.col-lg-4.mb-4
        img(src='/img/dog-solid.svg')
      .col-sm-6.col-lg-4.mb-4
        .card
          blockquote.blockquote 
            p This is a saying that I made up
      .col-sm-6.col-lg-4.mb-4
        img(src='/img/cat-solid.svg')
      .col-sm-6.col-lg-4.mb-4
        img(src='/img/fish-solid.svg')
      .col-sm-6.col-lg-4.mb-4
        img(src='/img/dog-solid.svg')