extends layout

block content
  .container
    .row
      .col
        .row.justify-content-center
          .col-4
            a(href='/gallery')
              img.img-fluid(src='/img/art.png')
      .col
        .row.justify-content-center
          .col-4
            a(href='/shop')
              img.img-fluid(src='/img/shop.png')