extends layout

block content
  .container
    .row
      .col
        .row.justify-content-center
          .col-4
            img(src='/img/fish-solid.svg')
      .col
        .row.justify-content-center
          .col-4
            img(src='/img/cat-solid.svg')
    .row
      .col
        .row.justify-content-center
          .col-4
            img(src='/img/dog-solid.svg')
      .col
        .row.justify-content-center
          .col-4
            img(src='/img/carrot-solid.svg')