extends layout

block content
  .container.bg-default
    .row
        .col
            a#name(href="#")
                img(title="Hello", src="/img/splash_0.png", onmouseover="this.src='/img/splash_1.png'" onmouseout="/img/this.src='splash_0.png'")