extends layout

block content
  .container.bg-default
    .row.justify-content-center
        .col-4
            a#name(href="/")
                img.img-fluid(title="Hello", src="/img/splash_0.png", onmouseover="this.src='/img/splash_1.png'", onmouseout="this.src='/img/splash_0.png'")